:root{
  --ifm-color-primary-lightest: #52717E;
  --ifm-color-primary-lighter: #486470;
  --ifm-color-primary-light: #45606B;
  --ifm-color-primary: #3f5761;
  --ifm-color-primary-dark: #394E57;
  --ifm-color-primary-darker: #364A52;
  --ifm-color-primary-darkest: #2C3D44;
}
